button .components-spinner {
	width: 15px;
	height: 15px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
}

.form-buttons {
	display: flex;
}

.my-gutenberg-form .form-buttons {
	margin-top: 20px;
	margin-left: 1px;
}

.form-error {
	color: #cc1818;
}

.form-buttons button {
	margin-right: 4px;
}

.form-buttons .components-spinner {
	margin-top: 0;
}

#fse-customization-checker {
	max-width: 90%;
}

#fse-customization-checker ul,
#fse-customization-checker ul li {
	list-style-type: disc;
}

#fse-customization-checker ul {
	padding-left: 20px;
}

#fse-customization-checker .components-search-control__input {
	height: 36px;
	margin-left: 0;
}

#fse-customization-checker .list-controls {
	display: flex;
	width: 100%;
}

#fse-customization-checker .list-controls .components-search-control {
	flex-grow: 1;
	margin-right: 8px;
}

.fse-template-parts-table,
.fse-templates-table {
	margin-bottom: 20px;
}

.fse-customization-checker-global-styles pre {
	background-color: #ffffff;
	padding: 10px;
}

#fse-customization-checker h2 {
	display: inline-block;
	margin-left: 6px;
}